version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: backend-postgres
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: cookpac_db
    volumes:
      - pg_data:/var/lib/postgresql/data

volumes:
  pg_data:
